@model LoginViewModel
<div class="container" id="login">
    <div class="row">
        <div class="col-md-5 py-3 py-md-0" id="side1">
            <h3 class="text-center">Welcome Back!</h3>
        </div>
        <div class="col-md-7 py-3 py-md-0" id="side2">
            <h3 class="text-center">Account login</h3>
           <form asp-action="Login" asp-controller="Account" method="post">
                <div class="input2 text-center">
                    <input asp-for="Email" type="email" placeholder="Email">
                    <input asp-for="Password" type="password" placeholder="Password" >
                </div>
                <button id="btnlogin" type="submit">Login</button>
           </form>
          
        </div>

    </div>
</div>
