@model RegisterViewModel
<div class="container" id="login">
    <div class="row">
        <div class="col-md-5 py-3 py-md-0" id="side1">
            <h3 class="text-center">Register</h3>
        </div>
        <div class="col-md-7 py-3 py-md-0" id="side2">
            <h3 class="text-center">Create Account</h3>
           <form asp-action="Register" asp-controller="Account" method="post">
                <div class="input2 text-center">
                    <input asp-for="Name" type="text" placeholder="Name">
                    <input asp-for="UserName" type="text" placeholder="User Name">
                    <input asp-for="Email" type="email" placeholder="Email">
                    <input asp-for="Password" type="password" placeholder="Password">
                    <input asp-for="ConfirmedPassword" type="password" placeholder="ConfirmedPassword">
            </div>
               <button id="btnlogin" type="submit">Sign Up</button>
           </form>
            
        </div>

    </div>
</div>