@model Contact
@{
    var massage = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(massage))
{
    <div class="alert alert-primary">
        @massage
    </div>
}

<div class="container" id="contact">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <i class="fas fa-phone"> Phone</i>
                <h6>+123456</h6>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <i class="fas fa-envelope"> Email</i>
                <h6>example@gmail.com</h6>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <i class="fas fa-location-dot"> Address</i>
                <h6>Karachi Sindh Pakistan</h6>
            </div>
        </div>
    </div>
   <form method="post"  >
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row" style="margin-top: 30px;">
        <div class="col-md-4 py-3 py-md-0">
            <input asp-for="ConName"  type="text" class="form-control form-control" placeholder="Name">
            <span class="text-danger" asp-validation-for="ConName"></span>
        </div>
        <div class="col-md-4 py-3 py-md-0">
                <input asp-for="ConEmail" type="text" class="form-control form-control" placeholder="Email">
                <span class="text-danger" asp-validation-for="ConEmail"></span>
        </div>
        <div class="col-md-4 py-3 py-md-0">
                <input asp-for="ConPhone" type="text" class="form-control form-control" placeholder="Phone">
                <span class="text-danger" asp-validation-for="ConPhone"></span>
        </div>
        <div class="form-group" style="margin-top: 30px;">
            <textarea asp-for="ConMessege" class="form-control" id="" rows="5" placeholder="Message"></textarea>
                <span class="text-danger" asp-validation-for="ConMessege"></span>
        </div>
        <div class="messagebtn text-center"><button type="submit"> Message</button></div>
    </div>
   </form>
</div>

